@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Poppins&family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "inter", sans-serif;
  color: white;
}

div {
  margin-left: 24px;
  margin-right: 24px;
}

nav {
  height: 10vh;
  width: 100%;
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  width: auto;
  margin: 0;
}

.logo-text {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  padding-left: 24px;
}

.menu {
  width: 40px;
  height: 40px;
  display: block;
  align-self: center;
  align-content: center;
  padding: 10px 10px;
  float: right;
  margin-right: 20px;
}

#check {
  display: none;
}

.main-line {
  margin: 6px 24px;
  color: #ff5b00;
  font-size: 56px;
  line-height: 64px;
  font-family: 'Crete Round', sans-serif;
}

.second-line {
  margin: 6px 24px;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  line-height: 32px;
}

.third-line {
  margin: 6px 24px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  line-height: 24px;
}

.social-media {
  margin: 6px 24px;
  width: 200px;
  display: flex;
  justify-content: space-around;
}

.social-media:hover {
  cursor: pointer;
}

.headline {
  background-color: #1c1a19;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(./assets/Illustration.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.icon {
  height: 20px;
}

.medium {
  align-self: center;
  width: 20px;
  height: 16px;
}

.menu:hover {
  cursor: pointer;
  background-color: #1c1a19;
}
